{% load staticfiles %}

<div class="jumbotron jumbotron-fluid">
    <div class="container" style="color: black;">
        <div class="row">
            <div class="col-10">
                <h1 class="display-4">Allied Mountain Purchase Management System</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
            <div class="col-2">
                <button id="logout" style="float: right;" class="btn btn-warning"><a href="/logout">Sign Out</a></button>
            </div>
        </div>
    </div> 
</div>